<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alicms.ex.provider.admin.dao.event.staking.ActivityBannerMapper">
  <resultMap id="BaseResultMap" type="com.alicms.ex.provider.admin.model.event.staking.ActivityBanner">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="pc_banner" jdbcType="VARCHAR" property="pcBanner" />
    <result column="app_banner" jdbcType="VARCHAR" property="appBanner" />
    <result column="h5_banner" jdbcType="VARCHAR" property="h5Banner" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="type" jdbcType="INTEGER" property="type" />
  </resultMap>
  <sql id="Base_Column_List">
    id, pc_banner, app_banner, h5_banner, create_time, update_time, type
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from alicms_activity_banner
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from alicms_activity_banner
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.alicms.ex.provider.admin.model.event.staking.ActivityBanner">
    insert into alicms_activity_banner (id, pc_banner, app_banner, 
      h5_banner, create_time, update_time, 
      type)
    values (#{id,jdbcType=BIGINT}, #{pcBanner,jdbcType=VARCHAR}, #{appBanner,jdbcType=VARCHAR}, 
      #{h5Banner,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{type,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.alicms.ex.provider.admin.model.event.staking.ActivityBanner">
    insert into alicms_activity_banner
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="pcBanner != null">
        pc_banner,
      </if>
      <if test="appBanner != null">
        app_banner,
      </if>
      <if test="h5Banner != null">
        h5_banner,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="type != null">
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="pcBanner != null">
        #{pcBanner,jdbcType=VARCHAR},
      </if>
      <if test="appBanner != null">
        #{appBanner,jdbcType=VARCHAR},
      </if>
      <if test="h5Banner != null">
        #{h5Banner,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.alicms.ex.provider.admin.model.event.staking.ActivityBanner">
    update alicms_activity_banner
    <set>
      <if test="pcBanner != null">
        pc_banner = #{pcBanner,jdbcType=VARCHAR},
      </if>
      <if test="appBanner != null">
        app_banner = #{appBanner,jdbcType=VARCHAR},
      </if>
      <if test="h5Banner != null">
        h5_banner = #{h5Banner,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.alicms.ex.provider.admin.model.event.staking.ActivityBanner">
    update alicms_activity_banner
    set pc_banner = #{pcBanner,jdbcType=VARCHAR},
      app_banner = #{appBanner,jdbcType=VARCHAR},
      h5_banner = #{h5Banner,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>